@model AXSeniors_Pedidos_Demo_ENTITY.TipoComprobanteBE

<div class="container mt-4">
    <h2>Agregar Comprobante</h2>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Nombre</label>
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", required = "required" })
        </div>
        <button type="submit" class="btn btn-success mt-3">Guardar</button>
    }
</div>
